############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
# OS X only:
#############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#############
## SQLite
#############
*.db3
